<div class="container">
    <div class="auth-box">
        <div class="title">
            <h1>Login</h1>
        </div>
        <form [formGroup]="loginForm" class="form">
            <label for="username">Username</label>
            <div class="input">
                <i class="fa-solid fa-user fa-xl"></i>
                <input pattern="/^[a-zA-Z0-9_]{6,18}$/" type="text" name="username" formControlName="username" placeholder="Type your username"/>
                <hr/>
            </div>
            <label for="password">Password</label>
            <div class="input">
                <i class="fa-solid fa-lock fa-xl"></i>
                <input pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[_,\?\%&\*\@\!]).{12,24}$/" type="password" name="password" formControlName="password" placeholder="Type your password"/>
                <hr/>
            </div>
            <p style="color: red;margin-bottom: 1em;">{{error}}</p>
            <button (click)="$event.preventDefault(); onSubmit()" type="submit" id="auth">Login</button>
        </form>
        <div class="other-options">
            <hr style="width: 80%;"/>
        </div>
        <a href="/register"><p class="register">Create an account</p></a>
    </div>
</div>