<div class="register-page">
    <div class="auth-box">
        <div class="title">
            <h1>Register</h1>
        </div>
        <form [formGroup]="registerForm" class="form">
            <label for="username">Username</label>
            <div class="input">
                <i class="fa-solid fa-user fa-xl"></i>
                <input pattern="/^[a-zA-Z0-9_]{6,18}$/" type="text" formControlName="username" name="username" placeholder="Type your username"/>
                <hr/>
            </div>
            <label for="password">Password</label>
            <div class="input">
                <i class="fa-solid fa-lock fa-xl"></i>
                <input pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[_,\?\%&\*\@\!]).{12,24}$/" type="password" formControlName="password" name="password" placeholder="Type your password"/>
                <hr/>
            </div>
            <label for="c-password">Confirm Password</label>
            <div class="input">
                <i class="fa-solid fa-lock fa-xl"></i>
                <input pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[_,\?\%&\*\@\!]).{12,24}$/" type="password" formControlName="confirmPassword" name="confirmPassword" placeholder="Type your password again"/>
                <hr/>
            </div>
            <label for="c-password">E-mail</label>
            <div class="input">
                <i class="fa-solid fa-envelope fa-xl"></i>
                <input type="email" formControlName="email" name="email" placeholder="Type your email"/>
                <hr/>
            </div>
            <p style="color: red; margin-bottom: 1em;">{{error}}</p>
            <button id="auth" (click)="$event.preventDefault(); onSubmit()" type="button">Register</button>
        </form>
        <div class="other-options">
            <hr style="width: 80%"/>
        </div>
        <a href="login"><p class="login">Have an Account?</p></a>
    </div>
    <div class="posts">
        <h2 class="subtitle">Post Cool Stuff Like These</h2>
        <div class="demo">
            @for (data of demo_data; track data.id) {
            <div class="post-container">
                <div class="image-container">
                    <img class="demo-image" src={{data.image}} height="120" width="120"/>
                    <h4 class="username">{{data.username}}</h4>
                </div>
                <div class="post-info">
                    <h3 class="message">{{data.message}}</h3>
                    <h3 class="emoji">{{data.emoji}}</h3>
                </div>
            </div>
        }
        </div>
    </div>
</div>