#auth {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    border: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg, rgba(51,84,205,1) 0%, rgba(113,0,255,1) 80%);
}
#github {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: none;
}
.register-page{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.auth-box {
    background-color: white;
    height: 100%;
    width: 850px;
}
.title {
    text-align: center;
    flex: none;
    font-size: 42px;
    padding: 1em;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.input {
    width: 100%;
    margin-bottom: 1.5em;
}
.input i {
    padding: 5px;
}
.form input {
    width: 85%;
    padding: 15px;
    font-size: 20px; 
    border: none;
}
.form label {
    font-size: 18px;
}
.confirm {
    display: flex;
}
.confirm input{
    height: 20px;
    width: 20px;
    margin-right: 20px;
}
.other-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.other-options svg {
    width: 80px;
    height: 80px;
}
.login {
    font-size: 24px;
    text-align: center; 
    padding: 1em; 
    text-decoration: underline;
}
.posts {
    background-color: rgba(51, 51, 51, 0.8);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:scroll;
}
.demo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.subtitle {
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 20px;
}
.post-container {
    width: 500px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    background-color: #292841;
    box-shadow: 10px 5px 5px #161624;
    color: white;
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.demo-image {
    object-fit: cover;
    border-radius: 20px;
    margin: 20px;
}
.post-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    background-color: #2e2d4a;
}
.message {
    font-size: 32px;
}
.emoji {
    font-size: 48px;
}
.username {
    margin: 10px;
    font-size: 18px;
}