<div class="profile">
    <div class="info">
        <div class="info-image-container">
            <img class="info-image" src="http://localhost:3000/images/{{profilePic}}" />
            <h2 style="color: white; text-align: center;">{{username}}</h2>
        </div>
        <div class="profile-settings">
            <form class="settings" enctype="multipart/form-data">
                <label>Change Profile Picture</label>
                <input (change)="selectImage($event)" type="file" name="image"/>
                <button (click)="$event.preventDefault(); onFileUpload()" type="submit">Change Image</button>
            </form>
            <button id="logout" (click)="logout()">Log-out</button>
        </div>
    </div>
    <div class="form-container">
        <form [formGroup]="postForm" class="form">
            <div class="form-object">
                <label for="postBody">Post body</label>
                <input formControlName="message" type="text" id="postBody"/>
            </div>
            <div class="form-object">
                <label for="emoji">Emoji Picker</label>
                <div>
                    <div class="emoji-container">
                        @for (data of emojis; track data.id) {
                            <button (click)="$event.preventDefault();switchSelected(data.character)" id="emoji-button"><h3>{{data.character}}</h3></button>
                        }
                    </div>
                    <div class="selected-container">
                        <h3 class="selected-emoji">{{selectedEmoji}}</h3>
                    </div>
                </div>
            </div>
            <button (click)="onSubmit()" id="post" type="button">Post</button>
        </form>
    </div>
</div>
